{% extends "main/base.html" %}
{% load bootstrap5 %}
{% block title %} Login {% endblock  %}
{% block content %}
    <div class="mt-2">
    <h1 class="text-center"> Login </h1>
    </div>
    <div class= "d-flex mt-2 justify-content-center">
        <form method="POST" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class=" ">
                {% bootstrap_field form.username layout='vertical' %}
            </div>
            <!-- Password Field -->
            <div class="">
                {% bootstrap_field form.password layout='vertical' %}
            </div>
            
            <button type="submit" class="btn btn-primary w-10 mt-3">Login</button>
          </form>
    </div>
{% endblock  %}